.main
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  justify-content: center;
  margin-left: 450px;
  margin-right: 450px;
}
.pokemons{
  width: 180px;
  height: 180px;
  border: 1px solid black;
  border-radius: 50%;
  justify-content: center;
  margin: 3px;
  transition: 0.8s;
}
.pokemons button{
  display: flex;
  margin-top: 18px;
  margin-left: 50px;
}
.pokemons p{
  text-align: center;
  margin: -20px;
}
.pokemons img{
  width: 80%;
  margin: 10px;
}
.pokemons:hover{
  transform: scale(1.3);
  background-color: crimson;
  color: white;
  cursor: pointer;
}
.pokemons p:hover{
  text-decoration: underline;
}
.glow-on-hover {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
